html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div {
border: 1px solid chocolate;
}

body{
	background-color: lightgray;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.top-navigation {
	background-color: #fff;
}

.content {
	padding: 0px 15px
	margin: 0 auto;
	width: 970px;
	
}

.top-navigation > .content {
height: 70px;
	
}



.logo{
	margin-top:1em;
	position: relative;
	bottom: 4.5em;
	left: 9em;
}

.top-navigation  .links{
	
	-webkit-font-smoothing: antialiased;
	position: relative;
	left: 20em;
	bottom: .5em

}

.links > li{
	display: inline-block;
	margin-top:1em;
	margin-left: .5em;
	
}

.top-navigation  .links  .active {
    color: #838994;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction{
   background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    background-position: 0 bottom;
	background-position: center;
}

.introduction > .content  {
	color:white;
	margin-left: 1em;
	text-align: center;
	position: relative;
	top: 13em;
}

.introduction > .content h1{
	font-size: 3rem;
	font-weight: 200;
}
.introduction > .content h3{
	font-size: 1.5rem;
	font-weight: 100;
	position: relative;
	bottom: 1em;
}

button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    background-color: orange;
    position: relative;
    bottom: 2em;
    width: 12em;
    font-size: 1rem;
}

.introduction .content button:hover {
    cursor: pointer;
    color: #333333;
    background-color:orange;
}

.cases h2{
	font-weight: 100;
	font-size: 3rem;
	text-align: center;
	position: relative;
	top: 3em;
	margin:-1em;
	color: darkgray;
}